<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="ServerSetupGroup">
      <section name="ServerSetups" type="NAVObjectCompareWinClient.Configuration.ServerSetupSection, NAVObjectCompareWinClient"/>
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="BeyondComparePath" value="C:\Program Files\Beyond Compare 4\BCompare.exe"/>
    <add key="ShowFullException" value="True"/>
  </appSettings>

  <ServerSetupGroup>
    <ServerSetups>
      <ServerSetup Name="DEFAULT" FinSQLPath="Jahjahsjahj" Server="Server" Database="Crap" UseNTAuthentication="True" UserName="" Password=""/>
    </ServerSetups>
  </ServerSetupGroup>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  
</configuration>
