<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="ServerSetupGroup">
      <section name="ServerSetups" type="NAVObjectCompareWinClient.Configurations.ServerSetupSection, NAVObjectCompareWinClient"/>
    </sectionGroup>
    <sectionGroup name="ImportSetupGroup">
      <section name="ImportSetups" type="NAVObjectCompareWinClient.Configurations.ImportSetupSection, NAVObjectCompareWinClient"/>
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="EditorPath" value="C:\Program Files\Beyond Compare 4\BCompare.exe"/>
    <add key="ShowFullException" value="True"/>
  </appSettings>

  <ServerSetupGroup>
    <ServerSetups>
      <ServerSetup Name="NAV-Standard" FinSQLPath="C:\Program Files (x86)\Microsoft Dynamics NAV\71\RoleTailored Client\finsql.exe" Server="DESKTOP-BI4KASN\NAVDEMO" Database="Demo Database NAV (7-1)" UseNTAuthentication="True" UserName="" Password=""/>
      <ServerSetup Name="NAV-Edited" FinSQLPath="C:\Program Files (x86)\Microsoft Dynamics NAV\71\RoleTailored Client\finsql.exe" Server="DESKTOP-BI4KASN\NAVDEMO" Database="Demo Database NAV (7-1)" UseNTAuthentication="True" UserName="" Password=""/>
    </ServerSetups>
  </ServerSetupGroup>

  <ImportSetupGroup>
    <ImportSetups>
      <ImportSetup Name="A" ImportType="1" ServerSetupName="NAV-Standard" Modified="" DateFrom="" DateTo="" VersionList="" CustomFilter="False" Filter="" ImportFileName="" />
    </ImportSetups>
  </ImportSetupGroup>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  
</configuration>
